@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700&display=swap");

@import "tailwindcss";

@import "./theme.css";

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-background);
    color: var(--color-secondary-800);
    font-family: var(--font-sans);
}

* {
    box-sizing: border-box;
}